.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status{
    font-size: 18px;
}

body{
    background-image: "background.jpg";
    background-size: cover;
}

canvas{
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}
